<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <h5 class="footer-title">Contactez-moi :</h5>
      <p class="footer-contact">
        <a href="mailto:perigault.paul@gmail.com" class="text-warning">perigault.paul&#64;gmail.com</a>
      </p>
      <p class="footer-open-to">Ouvert à toutes propositions de freelance, emploi ou alternance.</p>
    </div>
    <div class="footer-official">
      <p class="footer-legal small">
        Site réalisé en 2024.
      </p>
    </div>
  </div>
</footer>
