.footer {
  background: linear-gradient(to bottom right, #171717, #282828);
  color: white;
  text-align: center;
  padding: 1em 0;
  border-top: 2px solid #ff0169;
  width: 100%;
}

.footer-title {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

.footer-content {
  margin-bottom: 0.5em;
}

.footer-contact {
  font-size: 1.2em;
}

.footer-contact a {
  color: #ff7a00;
  text-decoration: none;
  transition: color 0.4s;
}

.footer-contact a:hover {
  color: #ff0169;
}

.footer-open-to {
  margin: 0.3em 0;
  font-size: 1em;
}

.footer-official {
  font-size: 0.9em;
  color: #ccc;
}

.footer-legal {
  margin-top: 0.5em;
}
