<h2 class="title text-center my-4 section-title">Parcours Scolaire et Professionnel</h2>
<div class="timeline">
  <div *ngFor="let event of evenements; let i = index" class="timeline-item" [ngClass]="{'left': i % 2 === 0, 'right': i % 2 !== 0}">
    <div class="timeline-marker"></div>
    <div class="timeline-content card">
      <div class="card-body">
        <strong class="event-dates">{{ event.dateDebut }} - {{ event.dateFin }}</strong>
        <h3 class="event-title mt-2">{{ event.nom }}</h3>
        <p class="description">{{ event.description }}</p>
        <div class="skills-container mt-2">
          <button class="btn btn-outline-primary btn-sm skills-button button2" (click)="toggleSkills(event)">Compétences</button>
          <ul class="skills list-group mt-2" *ngIf="event.showSkills">
            <li *ngFor="let competence of event.competences" class="list-group-item skill-item">{{ competence }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
