<main class="app-container">
  <section id="about" class="section">
    <app-about-me></app-about-me>
  </section>

  <section id="competences" class="section">
    <app-competence></app-competence>
  </section>

  <section id="evenements" class="section">
    <app-evenements></app-evenements>
  </section>

  <app-footer></app-footer>
</main>

<p-scrollTop [threshold]="200"
             styleClass="custom-scrolltop"
             [icon]="'pi pi-arrow-up'">
</p-scrollTop>

<p-toast position="bottom-right"></p-toast>
